<%
path = artikelkategorie.id ? artikelkategory_path(artikelkategorie) : artikelkategories_path
http_method = artikelkategorie.id ? :patch : :post
%>
<%= form_for(artikelkategorie, url: path, method: http_method) do |form| %>
  <div>
    <%= form.label :kategorie, style: "display: block" %>
    <%= form.text_field :kategorie %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
