<h1>Editing artikelkategorie</h1>

<%= render "form", artikelkategory: @artikelkategory %>

<br>

<div>
  <%= link_to "Show this artikelkategorie", @artikelkategory %> |
  <%= link_to "Back to artikelkategories", artikelkategories_path %>
</div>
