<h1>Editing artikelkategorie</h1>

<%= render "form", artikelkategorie: @artikelkategorie %>

<br>

<div>
  <%= link_to "Zurück", @artikelkategorie %> |
  <%= link_to "Alle Kategorien", artikelkategories_path %>
</div>
