<div id="<%= dom_id artikel %>">
  <p>
    <strong>Name:</strong>
    <%= artikel.name %>
  </p>

  <p>
    <strong>Id kategorie:</strong>
    <%= artikel.id_kategorie %>
  </p>

  <p>
    <strong>Preis:</strong>
    <%= artikel.preis %>
  </p>

</div>
