<h1>Editing artikel</h1>

<%= render "form", artikelkategorie: @artikel.artikelkategorie, artikel: @artikel %>

<br>

<div>
  <%= link_to "Anzeigen", artikelkategory_artikel_path(@artikel.artikelkategorie) %> |
  <%= link_to "Zurück", artikelkategory_artikels_path(@artikel.artikelkategorie) %>
</div>
