<h1><%= [@artikelkategorie&.kategorie, 'New artikel'].compact.join(' | ') %></h1>

<%= render "form", artikelkategorie: @artikelkategorie, artikel: @artikel %>
<br>

<div>
  <%=
    if @artikelkategorie
      link_to "Zurück", artikelkategory_artikels_path(@artikelkategorie)
    else
      link_to "Zurück", artikelkategories_path
    end
  %>
</div>
