<h1><%= [@category&.name, 'Neuer Artikel'].compact.join(' | ') %></h1>

<%= render "form", category: @category, article: @article %>
<br>

<div>
  <%=
    if @category
      link_to "Zurück", category_articles_path(@category)
    else
      link_to "Zurück", categories_path
    end
  %>
</div>
