<div id="<%= dom_id order %>">
  <p>
    <strong>Table:</strong>
    <%= order.table %>
  </p>

  <p>
    <strong>Gesamtpreis:</strong>
    <%= format_money(order.grand_total) %>
  </p>

  <p>
    <strong>Erstellt am:</strong>
    <%= order.created_at %>
  </p>

</div>
