<p style="color: green"><%= notice %></p>

<h1>Alle offenen Bestellungen #Henry mach mal schneller <3</h1>


<div id="orders">
  <% @orders.each do |order| %>
  <%if order.state == "placed"%>
    <%= render order %>
    <p>
      <%= link_to "Show this order", order %>
      <hr>
    </p>
    <% end %>
  <% end %>
</div>

