

= link_to t('generics.categories'), management_categories_path
hr
="Anzahl offene Bestellungen: "
= @amountOrders
br
="Anzahl servierte & unbezahlte Bestellungen: "
= @amountOrdersServed
br
="Anzahl abgeschlossene Bestellungen: "
= @amountOrdersPayed