<div id="<%= dom_id line_item %>">
  <p>
    <strong>Order:</strong>
    <%= line_item.order_id %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= line_item.article_id %>
  </p>

  <p>
    <strong>Anzahl:</strong>
    <%= line_item.count %>
  </p>

</div>
